body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 30px;
}

textarea {
  background: transparent;
  display: flex;
  flex: 1;
  border: none;
  resize: none;
  color: #000000;
  height: 76px;
  /* width: inherit; */
  /* border-left: 1px solid black; */
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.text-cell {
  display: flex;
  white-space: pre-wrap;
  align-items: flex-start;
  line-height: 1.5;
  flex-grow: 7;
  /* padding: 5px 10px 5px; */
  border: 1px solid rgb(175, 175, 175);
}

.time-cell {
  display: flex;
  flex-grow: 0.3;
  padding: 15px;
  justify-content: right;
  border-right: 1px solid black;
  border-top: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.time-row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  margin: 5px auto;
  display: flex;
  width: 70%;
  list-style: none;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.previous {
  background-color: #d3d3d3;
  color: rgb(0, 0, 0);
}

.present {
  background-color: #fd766e;
  color: rgb(0, 0, 0);
}

.future {
  background-color: #77dd77;
  color: rgb(0, 0, 0);
}

.save-btn {
  display: flex;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  flex-grow: 0.5;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.save-btn li i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
