body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 0px;
}

textarea {
  background: transparent;
  display: flex;
  flex: 1;
  border: none;
  resize: none;
  color: #000000;
  height: 76px;
  /* width: inherit; */
  /* border-left: 1px solid black; */
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  margin-bottom: 0px;
}

#backDrop {
  background-image: url(../images/vector-NOV-2020-22-grey-02.png);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-cell {
  display: flex;
  white-space: pre-wrap;
  align-items: flex-start;
  line-height: 1.5;
  flex-grow: 7;
  /* padding: 5px 10px 5px; */
  border: 1px solid rgb(175, 175, 175);
}

.time-cell {
  display: flex;
  flex-grow: 0.3;
  padding: 15px;
  font-weight: bold;
  justify-content: right;
  border-right: 1px solid black;
  border-top: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.time-row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  margin: 5px auto;
  display: flex;
  width: 70%;
  list-style: none;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.previous {
  background-color: #d3d3d3;
  color: rgb(0, 0, 0);
}

.present {
  background-color: #fd766e;
  color: rgb(0, 0, 0);
}

.future {
  background-color: #77dd77;
  color: rgb(0, 0, 0);
}

.save-btn {
  display: flex;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  flex-grow: 0.5;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.save-btn li i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#timeSection0,
#timeSection2,
#timeSection4,
#timeSection6,
#timeSection8 {
  animation: 8s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 120rem;
    opacity: 0;
    width: 5%;
  }
  70% {
    margin-left: 15rem;
    opacity: 0.8;
    width: 90%;
  }
  to {
    margin-left: "";
    opacity: 1;
    width: "";
  }
}

#timeSection1,
#timeSection3,
#timeSection5,
#timeSection7 {
  animation: 8s slide-right;
}
@keyframes slide-right {
  from {
    margin-right: 150rem;
    opacity: 0;
    width: 5%;
  }
  70% {
    margin-right: 11.5rem;
    opacity: 0.8;
    width: 80%;
  }
  to {
    margin-right: "";
    opacity: 1;
    width: "";
  }
}

#backDrop {
  animation: 8s fade-in;
  transition: linear;
}
@keyframes fade-in {
  from {
    opacity: 0;
    margin-top: -150rem;
  }
  50% {
    margin-top: 0rem;
    opacity: 0.4;
  }
  to {
    margin-top: "";
    opacity: 1;
  }
}
